<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT bookings ANY>
<!ATTLIST bookings id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT searchForm ANY>
<!ATTLIST searchForm id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT searchFormSurfaceController ANY>
<!ATTLIST searchFormSurfaceController id ID #REQUIRED>
<!ELEMENT exampleDocType ANY>
<!ATTLIST exampleDocType id ID #REQUIRED>
<!ELEMENT imageCropper ANY>
<!ATTLIST imageCropper id ID #REQUIRED>
<!ELEMENT searchEngineSitemap ANY>
<!ATTLIST searchEngineSitemap id ID #REQUIRED>
<!ELEMENT displayInXMLSitemapTrueFalse ANY>
<!ATTLIST displayInXMLSitemapTrueFalse id ID #REQUIRED>
<!ELEMENT enumExample ANY>
<!ATTLIST enumExample id ID #REQUIRED>
<!ELEMENT year ANY>
<!ATTLIST year id ID #REQUIRED>
<!ELEMENT customerBookingDetails ANY>
<!ATTLIST customerBookingDetails id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1066" key="5b5e5b1f-ac15-44d2-b53a-9f3a65db564e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-24T14:24:06" updateDate="2018-11-24T18:30:41" nodeName="Home" urlName="home" path="-1,1066" isDoc="" nodeType="1061" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <searchSurface><![CDATA[umb://document/ba92b1973b4a4f019451dfaff6d8ad33]]></searchSurface>
    <searchPage><![CDATA[umb://document/1d6f83a9468b44639b51302e2f209303]]></searchPage>
    <searchForm id="1067" key="1d6f83a9-468b-4463-9b51-302e2f209303" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2018-11-24T14:25:28" updateDate="2018-12-02T13:52:24" nodeName="Search Results" urlName="search-results" path="-1,1066,1067" isDoc="" nodeType="1063" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1062" nodeTypeAlias="searchForm" isPublished="true">
      <displayInXMLSitemap>1</displayInXMLSitemap>
      <changeFrequency><![CDATA[Daily]]></changeFrequency>
    </searchForm>
    <searchFormSurfaceController id="1072" key="ba92b197-3b4a-4f01-9451-dfaff6d8ad33" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2018-11-24T18:30:25" updateDate="2018-12-02T13:48:48" nodeName="Search Result Surface" urlName="search-result-surface" path="-1,1066,1072" isDoc="" nodeType="1071" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1070" nodeTypeAlias="searchFormSurfaceController" isPublished="true">
      <displayInXMLSitemap>1</displayInXMLSitemap>
    </searchFormSurfaceController>
    <exampleDocType id="1075" key="50dc7960-0c49-45b2-9cc7-136e7d5774e9" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2018-11-25T11:38:49" updateDate="2018-12-02T13:48:54" nodeName="Check For Nulls" urlName="check-for-nulls" path="-1,1066,1075" isDoc="" nodeType="1074" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1073" nodeTypeAlias="exampleDocType" isPublished="true">
      <displayInXMLSitemap>1</displayInXMLSitemap>
    </exampleDocType>
    <imageCropper id="1081" key="1140e6e3-d5bd-4b9c-918f-0e8809b80737" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2018-11-28T11:15:17" updateDate="2018-12-02T13:48:59" nodeName="Responsive Image" urlName="responsive-image" path="-1,1066,1081" isDoc="" nodeType="1078" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1077" nodeTypeAlias="imageCropper" isPublished="true">
      <displayInXMLSitemap>1</displayInXMLSitemap>
      <responsiveImageExample><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1002/dreamstime_m_102277907.jpg",
  "crops": [
    {
      "alias": "X-Large-Desktop",
      "width": 1280,
      "height": 762
    },
    {
      "alias": "Desktop",
      "width": 992,
      "height": 762
    },
    {
      "alias": "LandScape",
      "width": 768,
      "height": 762
    },
    {
      "alias": "Tablet",
      "width": 576,
      "height": 762
    },
    {
      "alias": "Mobile",
      "width": 300,
      "height": 762,
      "coordinates": {
        "x1": 0.6933333333333338,
        "y1": 6.3159354289786735E-16,
        "x2": 0.044199475065616209,
        "y2": 0
      }
    }
  ]
}]]></responsiveImageExample>
    </imageCropper>
    <searchEngineSitemap id="1084" key="9e82521f-dd93-4449-81ce-ea2c0b850952" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2018-12-02T13:28:14" updateDate="2018-12-02T13:28:14" nodeName="Search Engine Sitemap" urlName="search-engine-sitemap" path="-1,1066,1084" isDoc="" nodeType="1083" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1082" nodeTypeAlias="searchEngineSitemap" isPublished="true" />
    <enumExample id="1089" key="86fb6010-e86c-46f8-a47a-83720bf95c19" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2019-01-08T21:47:43" updateDate="2019-01-09T13:25:34" nodeName="Enum Example" urlName="enum-example" path="-1,1066,1089" isDoc="" nodeType="1087" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1086" nodeTypeAlias="enumExample" isPublished="true">
      <sectionBackgroundColour><![CDATA[{
  "value": "ff8c00",
  "label": "Dark Orange"
}]]></sectionBackgroundColour>
      <textColour><![CDATA[{
  "value": "ff0000",
  "label": "Red"
}]]></textColour>
      <fontSize><![CDATA[16]]></fontSize>
    </enumExample>
    <bookings id="1096" key="c91b2c6c-cc6b-42ac-a215-665e91a8272d" parentID="1066" level="2" creatorID="0" sortOrder="6" createDate="2019-01-09T15:41:59" updateDate="2019-01-09T16:11:15" nodeName="Bookings" urlName="bookings" path="-1,1066,1096" isDoc="" nodeType="1095" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="1101" nodeTypeAlias="bookings" isPublished="true">
      <year id="1097" key="90771f1d-593c-44e9-9120-995daecfcd30" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2019-01-09T15:42:50" updateDate="2019-01-09T15:42:50" nodeName="2019" urlName="2019" path="-1,1066,1096,1097" isDoc="" nodeType="1092" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="year" isPublished="true">
        <customerBookingDetails id="1098" key="b3df38c5-aee1-4201-b969-c4b76bd591d7" parentID="1097" level="4" creatorID="0" sortOrder="0" createDate="2019-01-09T15:44:45" updateDate="2019-01-10T22:08:54" nodeName="Mr Green 01 Aug 2019 To 14 Aug 2019" urlName="mr-green-01-aug-2019-to-14-aug-2019" path="-1,1066,1096,1097,1098" isDoc="" nodeType="1094" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="customerBookingDetails" isPublished="true">
          <startDate><![CDATA[10/02/2019]]></startDate>
          <bookingConfirmed>1</bookingConfirmed>
          <endDate><![CDATA[14/02/2019]]></endDate>
        </customerBookingDetails>
        <customerBookingDetails id="1099" key="813fd305-f0e1-42ea-99c0-e15857887f3f" parentID="1097" level="4" creatorID="0" sortOrder="1" createDate="2019-01-09T15:47:42" updateDate="2019-01-10T10:06:47" nodeName="Mrs White 18 Aug 2019 To 27 Aug 2019" urlName="mrs-white-18-aug-2019-to-27-aug-2019" path="-1,1066,1096,1097,1099" isDoc="" nodeType="1094" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="customerBookingDetails" isPublished="true">
          <startDate><![CDATA[18/03/2019]]></startDate>
          <bookingConfirmed>1</bookingConfirmed>
          <endDate><![CDATA[27/03/2019]]></endDate>
        </customerBookingDetails>
        <customerBookingDetails id="1100" key="3d521f3a-d72e-4851-a74d-6833c7f6a6fc" parentID="1097" level="4" creatorID="0" sortOrder="2" createDate="2019-01-09T15:49:55" updateDate="2019-01-10T22:12:50" nodeName="Miss Pink 10 Oct 2019 To 25 Oct 2019" urlName="miss-pink-10-oct-2019-to-25-oct-2019" path="-1,1066,1096,1097,1100" isDoc="" nodeType="1094" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="customerBookingDetails" isPublished="true">
          <startDate><![CDATA[17/01/2019]]></startDate>
          <bookingConfirmed>1</bookingConfirmed>
          <endDate><![CDATA[24/01/2019]]></endDate>
        </customerBookingDetails>
      </year>
      <year id="1102" key="46432098-dfcf-4d0a-93a9-d88f794c94d9" parentID="1096" level="3" creatorID="0" sortOrder="1" createDate="2019-01-09T16:13:38" updateDate="2019-01-09T16:51:17" nodeName="2018" urlName="2018" path="-1,1066,1096,1102" isDoc="" nodeType="1092" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="year" isPublished="true">
        <archiveYear>1</archiveYear>
        <customerBookingDetails id="1103" key="f9a77eee-034c-4b3f-a94b-f4afc73c6350" parentID="1102" level="4" creatorID="0" sortOrder="0" createDate="2019-01-09T16:14:38" updateDate="2019-01-09T16:14:38" nodeName="Mrs Old Date 01 Jan 2018 To 25 Jan 2018" urlName="mrs-old-date-01-jan-2018-to-25-jan-2018" path="-1,1066,1096,1102,1103" isDoc="" nodeType="1094" creatorName="George Phillipson" writerName="George Phillipson" writerID="0" template="0" nodeTypeAlias="customerBookingDetails" isPublished="true">
          <startDate><![CDATA[01/01/2018]]></startDate>
          <bookingConfirmed>1</bookingConfirmed>
          <endDate><![CDATA[25/01/2018]]></endDate>
        </customerBookingDetails>
      </year>
    </bookings>
  </homePage>
</root>